.container{
    position: relative;
    width: 1600px;
    height: 4975px;
    margin: auto;
    background: #FFFFFF;
    /* border: 2px solid red; */
}
.section1_ft{
    position: absolute;
    width: 1600px;
    height: 780px;
    left: 0px;
    right: 0px;
    top: 0px;
}
header{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    /* border:1px solid red; */
    background: #000000;
    backdrop-filter: blur(2px);
}
.logo_footer{
    box-sizing: border-box;

    position: absolute;
    width: 82px;
    height: 52px;
    left: 220px;
    top: 14px;
    border: 1px solid #ffffff;
    border-radius: 2px;
}
.designed a{
    text-decoration: none;
    color: white;
}
.logo_footer h1{
    box-sizing: border-box;

    position: absolute;
    width: 72.49px;
    height: 44.91px;
    left: 3.55px;
    bottom: -13.4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    /* or 23px */

    text-align: center;

    color: #FFFFFF;

    border: 1.18841px solid #000000;
}
.logo_footer img{
    box-sizing: border-box;

    position: absolute;
    width: 7.03px;
    height: 20.98px;
    left: 13.23px;
    top: 24.64px;
    transform: matrix(-0.9, 0.52, 0.4, 0.88, 0, 0);
}
header ul{
    list-style: none;
    color: white;
}
.about{
    position: absolute;
    width: 43px;
    height: 22px;
    left: 365px;
    top: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}
.map{
    position: absolute;
    width: 32px;
    height: 22px;
    left: 466px;
    top: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #FFFFFF;
}
.zoos{
    position: absolute;
    width: 36px;
    height: 22px;
    left: 556px;
    top: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #FFFFFF;

}
.donate{
    position: absolute;
    width: 51px;
    height: 22px;
    left: 650px;
    top: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #FFFFFF;
}
.contact{
    position: absolute;
    width: 78px;
    height: 22px;
    left: 759px;
    top: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #FFFFFF;
}
.designed{
    position: absolute;
    width: 105px;
    height: 22px;
    left: 1275px;
    top: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #FFFFFF;
}